<!--
  Generated template for the ListingPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="primary">
		<ion-title>{{user?.displayName}}</ion-title>
	</ion-navbar>
	<ion-segment mode="md" [(ngModel)]="display" (ionChange)="segmentChanged($event)">
		<ion-segment-button value="active">
			{{'ACTIVE' | translate}}
		</ion-segment-button>
		<ion-segment-button value="inactive">
			{{'SOLD' | translate}}
		</ion-segment-button>
	</ion-segment>
</ion-header>

<ion-content>
	<div [ngSwitch]="display">
		<ion-list *ngSwitchCase="'active'">
			<ion-grid>
				<ion-row justify-content-center>
					<div class="profile-img" [style.background-image]="getBackground(photoUrl)" style="background-size:cover; border-radius: 10px; border: white 2px solid; background-position: center; border-radius: 50%; width: 130px; height: 130px;     margin: 0px 5px 0px 5px !important; padding: 0px !important;" ></div>
				</ion-row>
				<ion-row justify-content-center>
					<button round color="twitter" small ion-button icon-left [outline]="!isFollow" (click)="follow()">
						<ion-icon name="logo-twitter"></ion-icon>
						{{isFollow == false ? 'FOLLOW' : 'STOP_FOLLOW' | translate}}
						
					</button>
				</ion-row>
			</ion-grid>

			<ion-list>
				<ion-item>
					<ion-icon color="primary" name='ios-contact' item-start></ion-icon>
					{{user?.displayName}} is {{user?.userType | translate}}
				</ion-item>
				
				<ion-item (click)="call(user?.phone1)">
					<ion-icon color="secondary" name='md-call' item-start></ion-icon>
					{{user?.phone1}}
				</ion-item>
				<ion-item (click)="call(user?.phone2)">
					<ion-icon color="secondary" name='md-call' item-start></ion-icon>
					{{user?.phone2}}
				</ion-item>
				<ion-item (click)="sendEmail(user?.email)">
					<ion-icon color="dark" name='md-send' item-start></ion-icon>
					{{user?.email}}
				</ion-item>

			</ion-list>

			<ion-item (click)="goDetail(listing)" no-padding *ngFor="let listing of activeListings">
				<ion-thumbnail item-start [style.background-image]="getBackground(listing?.images[0])" style="background-size:cover; border-radius: 10px; border: white 2px solid; background-position: center; width: 115px; height: 115px;     margin: 0px 5px 0px 5px !important; padding: 0px !important;">
				</ion-thumbnail>
				<h2>{{listing.title}}</h2>
				<p class="type">{{listing.district | translate}}, {{listing.province | translate}}</p>
				<p class="type">{{listing.property_type | translate}} {{"FOR" | translate}} {{listing.listing_type | translate}}</p>
				<p class="price">${{listing.price}}</p>
				<ion-icon item-end name="ios-arrow-forward"></ion-icon>
			</ion-item>
		</ion-list>
		<ion-list *ngSwitchCase="'inactive'">

			<ion-item (click)="goDetail(listing)" no-padding *ngFor="let listing of inactiveListings">
				<ion-thumbnail item-start [style.background-image]="getBackground(listing?.images[0])" style="background-size:cover; border-radius: 10px; border: white 2px solid; background-position: center; width: 115px; height: 115px;     margin: 0px 5px 0px 5px !important; padding: 0px !important;">
				</ion-thumbnail>
				<h2>{{listing.title}}</h2>
				<p class="type">{{listing.district | translate}}, {{listing.province | translate}}</p>
				<p class="type">{{listing.property_type | translate}} {{"FOR" | translate}} {{listing.listing_type | translate}}</p>
				<p class="price">${{listing.price}}</p>
				<ion-icon item-end name="ios-arrow-forward"></ion-icon>
			</ion-item>
		</ion-list>
	</div>

</ion-content>