<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>751159391935-9signss1daegractgqb5c75vu4m33l7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751159391935-9signss1daegractgqb5c75vu4m33l7j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>751159391935-bq4e5vj57h932savofahqu3lec5345f1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3r5XvRxF4z-5JEfEr7CUFI0dHko4-jQM</string>
	<key>GCM_SENDER_ID</key>
	<string>751159391935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.konleng.app</string>
	<key>PROJECT_ID</key>
	<string>konleng-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>konleng-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751159391935:ios:412f3f564f8cbe22</string>
	<key>DATABASE_URL</key>
	<string>https://konleng-firebase.firebaseio.com</string>
</dict>
</plist>