page-search {
	.card-title {
		position: absolute;
		top: 10px !important;
		left: 10px !important;
		text-align: left;
		    font-size: 22px !important;
	}
	.card-subtitle {
		margin-top: 15px;
	}
	.card-background-page {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		height: 400px;
		padding: 5px;

		ion-card {
			position: relative;
			text-align: center;
			height: 200px;
			width: 30%;
			margin: 10px;
			flex-grow: 1;
		}

		.left-content, .right-content {
			width: 50%;
			height: 100%;
			position: relative;
		}
		.left-content {
			float: left;
			border-right: 1px solid #cac9c9;
		}

		.right-content {
			float: right;
		}

		.left-content > ion-label, .right-content > ion-label {
		    position: absolute;
		    bottom: -13px;
		    text-align: center;
		    width: 100%;
		    background: rgba(0, 31, 162, 0.7);
		    padding: 5px;
		    font-size: 16px;
		    color: white;
		    font-weight: bold;
		}

		

		
		ion-card:nth-child(1){
			background: url('../assets/imgs/Phnom_Penh.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(2){
			background: url('../assets/imgs/Preah_Sihanouk.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(3){
			background: url('../assets/imgs/Kampong_Cham.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(4){
			background: url('../assets/imgs/Siem_Reap.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(5){
			background: url('../assets/imgs/Battambang.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(6){
			background: url('../assets/imgs/Kandal.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(7){
			background: url('../assets/imgs/Banteay_Meanchey.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(8){
			background: url('../assets/imgs/Kampong_Chhnang.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(9){
			background: url('../assets/imgs/Kampong_Speu.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(10){
			background: url('../assets/imgs/Kampong_Thom.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(11){
			background: url('../assets/imgs/Kampot.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(12){
			background: url('../assets/imgs/Kep.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(13){
			background: url('../assets/imgs/Koh_Kong.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(14){
			background: url('../assets/imgs/Kratie.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(15){
			background: url('../assets/imgs/Mondulkiri.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(16){
			background: url('../assets/imgs/Oddor_Meanchey.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(17){
			background: url('../assets/imgs/Pailin.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(18){
			background: url('../assets/imgs/Preah_Vihear.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(19){
			background: url('../assets/imgs/Prey_Veng.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(20){
			background: url('../assets/imgs/Pursat.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(21){
			background: url('../assets/imgs/Ratanakiri.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(22){
			background: url('../assets/imgs/Stung_Treng.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(23){
			background: url('../assets/imgs/Svay_Rieng.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(24){
			background: url('../assets/imgs/Takeo.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}
		ion-card:nth-child(25){
			background: url('../assets/imgs/Tboung_Khmum.jpeg');
			background-size:cover;
			box-shadow:inset 0 0 0 2000px rgba(69, 69, 69, 0.15);
		}

		.card-title {
			position: absolute;
			top: 36%;
			font-size: 2.0em;
			width: 100%;
			font-weight: bold;
			color: #fff;
			text-shadow:
			2px 2px 0 rgba(69, 69, 69, 0.9),
			-1px -1px 0 rgba(69, 69, 69, 0.9),  
			1px -1px 0 rgba(69, 69, 69, 0.9),
			-1px 1px 0 rgba(69, 69, 69, 0.9),
			1px 1px 0 rgba(69, 69, 69, 0.9);
		}

		.card-subtitle {
			font-size: 1.3em;
			position: absolute;
			top: 52%;
			width: 100%;
			color: #fff;
			text-shadow:
			2px 2px 0 rgba(69, 69, 69, 0.9),
			-1px -1px 0 rgba(69, 69, 69, 0.9),  
			1px -1px 0 rgba(69, 69, 69, 0.9),
			-1px 1px 0 rgba(69, 69, 69, 0.9),
			1px 1px 0 rgba(69, 69, 69, 0.9);
		}

	}
	@media (max-width: 600px) {
		ion-card {
			width: 100% !important;
		}
	}
}

